/* detail images */
body{
    overflow-x: hidden;
}
.detail_header{
    /* background-image: url(../img/restorants/details/middle1.jpg); */
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6) ), url(../img/restorants/details/middle1.jpg);
    position: relative;
    min-height: 389px;
    box-sizing: border-box;
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    overflow: hidden;
}
.det_img{
    padding: 0;
}
.top_images{
    height: 389px;
}
.pricing-item{
    padding-left: 15rem;
    padding-top: 10rem;
}
.pricing-item-details{
    padding-left: 20rem;
}

.pricing-item img {
    max-width:250px;
    float:left;
}

